rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /students/{studentId}/records/{recordId}{
      function isLoggedIn(){
        return request.auth.uid != null;
      }

      function isUserRole(role){
        return isLoggedIn()
                && role in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles;
      }

      function isAdmin(){
        return isUserRole("admin");
      }

      allow delete: if isAdmin();
    }
  }
}